/* 
Light Blue: #b8f5e5
Light Green: #aff362
Gray: #c9c9c9
White: #ffffff
Dark Blue: #394145
*/
@font-face {
  font-family: 'push-menu-custom';
  src: url('../font/push-menu-custom.eot?95902514');
  src: url('../font/push-menu-custom.eot?95902514#iefix') format('embedded-opentype'), url('../font/push-menu-custom.woff?95902514') format('woff'), url('../font/push-menu-custom.ttf?95902514') format('truetype'), url('../font/push-menu-custom.svg?95902514#push-menu-custom') format('svg');
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'push-menu-custom';
    src: url('../font/push-menu-custom.svg?95902514#push-menu-custom') format('svg');
  }
}
*/
/* line 22, /Users/SebastianNadeau/Desktop/exercise-3/scss/components/push-menu-custom */
[class^="i-"]:before, [class*=" i-"]:before {
  font-family: "push-menu-custom";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

/* line 53, /Users/SebastianNadeau/Desktop/exercise-3/scss/components/push-menu-custom */
.i-menu:before {
  content: '\e800'; }

/* '' */
/* line 54, /Users/SebastianNadeau/Desktop/exercise-3/scss/components/push-menu-custom */
.i-close:before {
  content: '\e801'; }

/* '' */
@-moz-viewport {
  width: device-width;
  scale: 1; }

@-ms-viewport {
  width: device-width;
  scale: 1; }

@-o-viewport {
  width: device-width;
  scale: 1; }

@-webkit-viewport {
  width: device-width;
  scale: 1; }

@viewport {
  width: device-width;
  scale: 1; }

/* line 7, /Users/SebastianNadeau/Desktop/exercise-3/scss/components/main */
html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

/* line 16, /Users/SebastianNadeau/Desktop/exercise-3/scss/components/main */
*, *:before, *:after {
  box-sizing: inherit; }

/* line 21, /Users/SebastianNadeau/Desktop/exercise-3/scss/components/main */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  padding: 0em;
  margin: 0em; }
  /* line 27, /Users/SebastianNadeau/Desktop/exercise-3/scss/components/main */
  body.noscript .close-btn {
    display: none; }

/* line 32, /Users/SebastianNadeau/Desktop/exercise-3/scss/components/main */
header {
  padding: 0em;
  position: relative; }

/* line 37, /Users/SebastianNadeau/Desktop/exercise-3/scss/components/main */
h1 {
  color: #aff362;
  background-color: #394145;
  padding: 0.5em;
  margin: 0em 0em 1em 0em; }

/* line 44, /Users/SebastianNadeau/Desktop/exercise-3/scss/components/main */
.hamburger {
  padding: 1em; }

/* line 48, /Users/SebastianNadeau/Desktop/exercise-3/scss/components/main */
a {
  color: #394145;
  font-size: 1.2em; }

/* line 53, /Users/SebastianNadeau/Desktop/exercise-3/scss/components/main */
li {
  background-color: #b8f5e5; }

/* line 57, /Users/SebastianNadeau/Desktop/exercise-3/scss/components/main */
.media {
  overflow: hidden; }

/* line 61, /Users/SebastianNadeau/Desktop/exercise-3/scss/components/main */
.media-img {
  float: left;
  margin: 0 10px 0 0; }

/* line 66, /Users/SebastianNadeau/Desktop/exercise-3/scss/components/main */
.media-body {
  overflow: hidden; }

/* line 70, /Users/SebastianNadeau/Desktop/exercise-3/scss/components/main */
.media-img-reversed {
  float: right;
  margin: 0 0 0 10px; }

/* line 75, /Users/SebastianNadeau/Desktop/exercise-3/scss/components/main */
.media-img-stacked {
  float: none;
  margin: 0; }

/* line 80, /Users/SebastianNadeau/Desktop/exercise-3/scss/components/main */
.media-body {
  overflow: hidden; }

/* line 84, /Users/SebastianNadeau/Desktop/exercise-3/scss/components/main */
.toogle {
  position: absolute;
  right: 1em;
  top: 0; }

/* line 90, /Users/SebastianNadeau/Desktop/exercise-3/scss/components/main */
.navigation ul {
  margin: 0;
  padding: 0; }
  /* line 92, /Users/SebastianNadeau/Desktop/exercise-3/scss/components/main */
  .navigation ul li {
    list-style-type: none; }
    /* line 94, /Users/SebastianNadeau/Desktop/exercise-3/scss/components/main */
    .navigation ul li a {
      display: block;
      padding: 0.5em 1em;
      text-align: center;
      border-bottom: 1px solid #c9c9c9;
      text-decoration: none; }
    /* line 101, /Users/SebastianNadeau/Desktop/exercise-3/scss/components/main */
    .navigation ul li:first-child a {
      border-top: 1px solid #c9c9c9; }

/* line 108, /Users/SebastianNadeau/Desktop/exercise-3/scss/components/main */
.toggle-btn, .close-btn {
  color: #394145;
  height: 80px;
  width: 80px;
  padding: 0.5em;
  margin: 0.5em; }
  /* line 114, /Users/SebastianNadeau/Desktop/exercise-3/scss/components/main */
  .toggle-btn span, .close-btn span {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block; }

@media only screen and (max-width: 60em) {
  /* line 124, /Users/SebastianNadeau/Desktop/exercise-3/scss/components/main */
  .site-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 100; }
    /* line 129, /Users/SebastianNadeau/Desktop/exercise-3/scss/components/main */
    .site-wrapper .sliding-canvas {
      width: 100%;
      height: 100%;
      position: relative;
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0);
      transition: all 300ms ease-in-out; }
    /* line 138, /Users/SebastianNadeau/Desktop/exercise-3/scss/components/main */
    .site-wrapper[data-state="slide-open"] .sliding-canvas {
      -webkit-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
              transform: translateX(-100%); }
    /* line 142, /Users/SebastianNadeau/Desktop/exercise-3/scss/components/main */
    .site-wrapper[data-state="slide-open"] {
      overflow: visible; }

  /* line 149, /Users/SebastianNadeau/Desktop/exercise-3/scss/components/main */
  .slide-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: -100%;
    min-height: 600px; }
 }

@media only screen and (min-width: 60em) {
  /* line 162, /Users/SebastianNadeau/Desktop/exercise-3/scss/components/main */
  .toggle-btn, .close-btn {
    display: none; }

  /* line 165, /Users/SebastianNadeau/Desktop/exercise-3/scss/components/main */
  .slide-menu {
    position: static;
    right: auto; }
 }
