// Variables

/* 
Light Blue: #b8f5e5
Light Green: #aff362
Gray: #c9c9c9
White: #ffffff
Dark Blue: #394145
*/

$text-color: #222;

$light-grey: #c9c9c9;
$light-blue: #b8f5e5;
$light-green: #aff362;
$white: #fff;
$dark-blue: #394145;

