@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }



html {
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}


*, *:before, *:after {
	box-sizing: inherit;
}


body{
  font-family: sans-serif;
  @include zero;
    padding: 0em;
    margin: 0em;
  // Hides close button if there is no js
  &.noscript .close-btn{
    display: none;
  }
}

header {
    padding: 1.5em;
    margin: 0em;
    position: relative;
    background-color: $dark-blue;
    a{
      @include button;
    }
}

h1 {
    color: $light-green;
    padding: 0em;
    margin: 0em;
}

h2 {
    color: $dark-blue;
    padding: 0.5em 0em 0em 0.6em;
    margin: 0em;
}

h5 {
    color: $dark-blue;
    font-style: normal;
    font-weight: lighter;
    line-height: 1.3em;
    padding: 0.5em 0em 0em 0.6em;
    margin: auto 50%;
    color: $light-green;
}



footer {
    background-color: $dark-blue;
}

.hamburger {
    padding: 1em;
}

p {
    padding: 1em;
    margin: 0em;
}

.cover-img {
    width: 100%;
    height: 250px;
    background-image:url(../images/tennis.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    text-align:center;
}

.banner {
    width: 100%;
    height: 300px;
    background-image:url(../images/home-page-background.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    text-align:center;
}

a {
    color: $dark-blue;
    font-size: 1.2em;
}

li {
    float: right;
}

img {
    padding: 0em;
    width: 100%;
}
.media {
    overflow: hidden;
}

div {
    margin: 0em;
    padding: 0em;  
}

.img-flex {
    width: 100%;
}

.media-img {
    float: left;
    margin: 0em;
    padding: 0em;
}

.media-body {
    overflow: hidden;
    margin: 0em;
    padding: 0em;
}

.media-img-reversed {
    float: right;
    margin: 0 0 0 10px
}

.media-img-stacked {
    float: none;
    margin: 0;
}

.media-body {
    overflow: hidden;
}

.toogle {
    position: absolute;
    right: 1em;
    top: 0;
}

nav {
    float: right;
    margin-top: -3.5em;
}

.navigation ul {
    @include zero;
    li{
        list-style-type: none;
        margin: 0em;
        padding: 0em;
        a {
            display: block;
            padding: .5em 1em;
            text-align: center;
            border-bottom: 1px solid $dark-blue;
            text-decoration: none;
        }
        &:first-child a{
            border-top: 1px solid $dark-blue;
        }
    }
}

.toggle-btn,
.close-btn{
    color: $dark-blue;
    height: 80px;
    width: 80px;
    padding: 0.5em;
    margin: 0.5em;
    span{
     @include hide-text;
    }
}

// Sliding Navigation

@media only screen and (max-width: 60em) {
    //Page should move when nav opens
    // only time we will never ue max-width
    .site-wrapper {
        position: relative;
        overflow: hidden;
        width: 100%;
        z-index: 100;
        .sliding-canvas {
            width: 100%;
            height: 100%;
            position: relative;
            transform: translateX(0);
            @include ease (all, 300ms, ease-in-out);
        } // .sliding canvas
        
        
        &[data-state="slide-open"] .sliding-canvas{
            transform: translateX(-100%);
        }
        
        &[data-state="slide-open"]{
        overflow: visible; // Allows nav to be greater than page height when open.
    
        }
    } // .site wrapper
        
    // Navigation Styles
    .slide-menu {
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        bottom: 0;
        right: -100%;
        min-height: 600px;
        }
} // @media

@media only screen and (min-width: 60em) {
    .toggle-btn,
    .close-btn{
        display: none;
    }
    .slide-menu {
        position: static;
        right: auto;
    }
}
        
    

